@{
    ViewData["Title"] = "Statement of Authorship";
}
<h1>@ViewData["Title"]</h1>

<p>
    I, <b>Egbewunmeh Kadiri</b>, student number <b>000857704</b>, certify that this material is my original work.<br /> 
    No other person's work has been used without due acknowledgement and I have not made my work available to anyone else.
</p>
